/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #78350f;
  --clr-primary-2: #92400e;
  --clr-primary-3: #b45309;
  --clr-primary-4: #d97706;
  /* primary/main color */
  --clr-primary-5: #f59e0b;
  /* lighter shades of primary color */
  --clr-primary-6: #fbbf24;
  --clr-primary-7: #fcd34d;
  --clr-primary-8: #fde68a;
  --clr-primary-9: #fef3c7;
  --clr-primary-10: #fffbeb;
  /* darkest grey - used for headings */
  --clr-grey-1: #0f172a;
  --clr-grey-2: #1e293b;
  --clr-grey-3: #334155;
  --clr-grey-4: #475569;
  /* grey used for paragraphs */
  --clr-grey-5: #64748b;
  --clr-grey-6: #94a3b8;
  --clr-grey-7: #cbd5e1;
  --clr-grey-8: #e2e8f0;
  --clr-grey-9: #f1f5f9;
  --clr-grey-10: #f8fafc;
  --clr-white: #fff;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --ff-primary: "Ubuntu", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--black);
  color: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-7);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  padding: 6rem 0 4rem 0;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95%;
  }
}

.title {
  display: flex;
  flex-direction: column;
}

.title h2 {
  background-color: var(--clr-primary-7);
  color: var(--black);
  margin: 0 auto 0 0;
  border-radius: var(--radius);
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
}

.title h1 {
  color: var(--clr-primary-10);
  padding-top: 0;
  font-size: 2rem;
}

.title p {
  color: var(--clr-primary-10);
  font-size: 1rem;
}

.title .btn {
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .title h1 {
    font-size: 3rem;
  }
}
/* added during recording */

/*
=============== 
Navbar
===============
*/

.nav-links {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );
  display: grid;
  height: 100px;
  z-index: 998;
}

/* .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  display: grid;
  height: 100px;
  box-shadow: var(--dark-shadow);
  z-index: 998;
} */

.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

.nav-logo {
  height: 35px;
  padding-left: 1rem;
}

.nav-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
  font-size: 2rem;
  border: transparent;
  background: transparent;
  color: var(--clr-primary-8);
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 880px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: block;
    text-align: center;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  .nav-logo {
    height: 45px;
  }
  .nav-links-btn {
    padding: 20% 0;
  }
  .nav-links-btn:hover,
  .nav-links .nav-links-btn-assinante:hover {
    transition: var(--transition);
    color: var(--clr-primary-3);
  }

  .nav-links .nav-links-btn-assinante {
    color: var(--clr-primary-8);
  }
}

/*
=============== 
Sidebar
===============
*/
.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  font-size: 3rem;
  padding: 0 0.5rem;
  border: transparent;
  background-color: transparent;
  color: var(--red-light);
  cursor: pointer;
}

.sidebar {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-grey-1);
  transition: var(--transition);
  transform: translateX(-100%);
  z-index: 999;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-nav-links {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.sidebar-nav-links li {
  margin-top: 2rem;
}

.sidebar-nav-links a {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}

.sidebar-center {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.sidebar-icons-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-size: 3rem;
}

.sidebar-icons-links a {
  color: var(--clr-white);
  border-radius: 30%;
  padding: 0.5rem;
}

@media screen and (min-width: 880px) {
  .sidebar {
    display: none;
  }
}

/*
=============== 
header
===============
*/
.header {
  background: url(../images/header/img03.jpg) no-repeat center fixed;
  background-size: cover;
  height: 110vh;
  display: grid;
  align-items: center;
}

.header-box-transparent {
  position: absolute;
  background-color: #222;
  border: 1px solid #888;
  width: 800px;
  height: 400px;
  filter: opacity(60%);
  border-radius: var(--radius);
}

.header-box,
.header-box-text {
  z-index: 10;
}

.header-box {
  display: grid;
  justify-content: left;
  border-radius: var(--radius);
  padding: 2rem;
  max-width: 700px;
  height: 350px;
}

.header-box-text h1 {
  color: var(--clr-grey-10);
  filter: opacity(100%);
}

.header-box-text h2 {
  color: var(--clr-primary-7);
  padding: 0.7rem 0;
}

.header-box-text p {
  color: var(--clr-grey-10);
}

@media screen and (max-width: 880px) {
  .header {
    height: 100vh;
  }
  .header-box {
    width: 350px;
  }

  .header-box-transparent {
    width: 330px;
    height: 380px;
    margin: 0 auto;
  }

  .header-box-text h1 {
    color: var(--clr-grey-10);
    filter: opacity(100%);
    font-size: 1.5rem;
  }

  .header-box-text h2 {
    color: var(--clr-primary-7);
    padding: 0.7rem 0;
    font-size: 1.5rem;
  }

  .header-box-text p {
    color: var(--clr-grey-10);
    font-size: 1rem;
  }
}

/*
=============== 
About
===============
*/

.about {
  place-items: center;
  margin: 5rem auto;
}

@media screen and (min-width: 880px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-box-img {
    background: url(../images/project-1.jpeg);
    width: 400px;
    height: 400px;
    border-radius: 1%;
    margin: auto;
  }
}

/*
=============== 
Plans
===============
*/
.plans {
  background: url(../images/plans.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

/*
=============== 
assinante
===============
*/
.assinante {
  height: 100vh;
}
/*
=============== 
speedtest
===============
*/
.speedtest {
  background: url(../images/speedtest.jpg) no-repeat center fixed;
  background-size: cover;
  height: 90vh;
  color: var(--clr-white);
  display: grid;
  align-items: center;
}

.speedtest-text {
  max-width: 600px;
}

.speedtest-text p {
  color: var(--clr-white);
  font-size: 1.1rem;
}

.speedtest-buttons .btn {
  margin-right: 1rem;
}

/*
=============== 
plano
===============
*/

.plans {
  height: auto;
}
.plan-item {
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  text-align: center;
  border-radius: var(--radius);
  border: 3px solid #ddd;
  padding: 2rem 1rem;
  margin: 0 1rem 2rem;
}
.plans-content {
  grid-template-columns: minmax(100px, 1fr);
}
.plan-header h3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-primary-4);
  position: relative;
  height: 30px;
}
.plan-header p {
  color: var(--clr-grey-1);
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0;
  margin: 0;
  position: relative;
  height: 40px;
}
.plan-header p:last-child {
  color: var(--clr-primary-4);
  font-weight: 600;
  font-size: 1.7rem;
}

.plan-text {
  max-width: 70vw;
  margin: 1.5rem auto 0;
}
.plan-text p {
  text-align: left;
  color: var(--clr-grey-1);
  font-size: 1rem;
  text-transform: capitalize;
}
.plan-text span {
  font-weight: 600;
  text-transform: uppercase;
}

.plan-text i {
  color: var(--clr-primary-4);
  margin-right: 0.2rem;
}
.plan-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.plan-price p {
  color: var(--clr-grey-1);
}
.plan-price-rs {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.plan-price-value {
  font-size: 6rem;
  font-weight: 600;
}
.plan-price-cents {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.plan-footer .plan-footer-btn {
  font-size: 1.4rem;
}

@media screen and (min-width: 600px) {
  .plans-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3rem 1rem;
  }
}
/*
=============== 
assinante
===============
*/
.assinante {
  height: auto;
}
.title-assinante {
  padding: 2rem 0;
}
.assinante-item {
  padding: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
}

.assinante-item i {
  font-size: 2rem;
  margin: 0 0 0.5rem 0.5rem;
}
.assinante-item h3 {
  color: var(--clr-primary-5);
  font-size: 1.4rem;
}

.assinante-item:hover {
  transition: var(--transition);
  transform: translateY(-5px);
}

@media screen and (min-width: 600px) {
  .assinante {
    height: 90vh;
  }
  .assinante-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0;
    gap: 20px;
  }
}

/*
=============== 
Footer
===============
*/
/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
